/* src/components/Footer.css */
.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    
    width: 100%;
  }
  
  .footer a {
    color: white;
    text-decoration: underline;
  }
  