/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Header */
.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.title {
  font-size: 24px;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search {
  position: relative;
  max-width: 600px;
  margin: 10px;
}

.search input {
  width: 100%;
  padding: 10px;
  padding-left: 40px; /* Add space for the icon */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search button {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #0056b3;
}

.filter {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.filter button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.filter button.active {
  background-color: #007bff;
  color: white;
}

.filter button:hover {
  background-color: #7517ef;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

/* Card */
.card {
  width: calc(25% - 20px);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #666;
}

.card button {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}

.card .view-website-btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: #28a745;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card .view-website-btn:hover {
  background-color: #218838;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* More Button */
.more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-btn:hover {
  background-color: #0056b3;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

/* src/components/App.css */

.show-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: #0056b3;
}


/* Responsive Design */
@media (max-width: 1200px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 900px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }
}
